---
title: 5 DevOps platform benefits that inspire GitLab users to become GitLab advocates
author: Omar Fernandez
author_gitlab: ofernandez2
author_twitter: gitlab
categories: devops platform
tags: DevOps, contributors, community
description: Learn how a single tweet led to insight from our advocates on how
  they use GitLab to improve their work and their own lives.
image_title: "/images/blogimages/tanuki-bg-full.png"
twitter_text: "What are the 5 #DevOps platform benefits that inspire @gitlab
  users to become GitLab advocates? Find out from the advocates themselves."
---

At GitLab, we believe that a [single DevOps platform helps teams](https://about.gitlab.com/handbook/product/single-application/) to collaborate better and deliver software faster and with better security. In September, GitLab’s CEO Sid Sijbrandij [asked on Twitter](https://twitter.com/sytses/status/1440799819119824898) for volunteers willing to share their stories of advocating for the adoption of GitLab. Over the following days, GitLab team members interviewed 25 GitLab advocates who offered to share their experiences. Among other things, we asked them: 

- How did you first encounter GitLab?
- Why have you advocated for the adoption of GitLab?
- How has advocating and using GitLab in your organization benefited you? 

Our advocate interviews validated that GitLab’s single-application DevOps Platform has unlocked value for GitLab users. Below are excerpts of some of these interviews to give you the opportunity to hear directly from GitLab users. In them, you'll learn about five GitLab benefits that converted these users into advocates. 

## 1. A single application helps focus on work that matters

GitLab’s single application helps users to focus on work that matters. GitLab reduces the need to context-switch as users no longer need to jump across disparate point-solutions. Users are better able to focus, stay on task, and drive business results.

<!-- blank line -->

<figure class="video_container">

<iframe src="https://www.youtube.com/embed/pMWXn6NslEE" frameborder="0" allowfullscreen="true"> </iframe>

</figure>

<!-- blank line -->

Sam Briesemeister highlights the benefits of working on one platform, being able to link the work done to a specific issue, and increasing developer productivity. By using GitLab, users save time in their life. 

_“What [investing in GitLab] ultimately does is, actually, we’re saving somebody’s time [in] their life. We’re not wasting their life.”_

<!-- blank line -->

<figure class="video_container">

  <iframe src="https://www.youtube.com/embed/YcsT53c_Nuo" frameborder="0" allowfullscreen="true"> </iframe>

</figure>

<!-- blank line -->

Professor Neil Gershenfeld speaks about how GitLab allows his labs to do what used to require five separate solutions, one each for web serving, teaching classes, access control, documentation, and security. 

_When asked how GitLab has made your life better, Professor Gershenfeld said: “It’s almost hard to answer because it’s like ‘why do I like air?’ It’s just sort of, most of my work ends up in GitLab. It’s just a natural part of my working day.”_

<!-- blank line -->

<figure class="video_container">

<iframe src="https://www.youtube.com/embed/nUY8RrOyGPo" frameborder="0" allowfullscreen="true"> </iframe>

</figure>

<!-- blank line -->

Philipp Westphalen, one of our [GitLab Heroes](https://about.gitlab.com/community/heroes/members/), speaks about GitLab’s ease of use and how having a single tool instead of multiple separate solutions allows him to focus on getting things done. 

_“For me, it feels like home... It’s really easy to use... and you can focus on getting things done.”_

<!-- blank line -->

<figure class="video_container">

<iframe src="https://www.youtube.com/embed/heFWR23Z5nw" frameborder="0" allowfullscreen="true"> </iframe>

</figure>

<!-- blank line -->

Pavle Djuric also speaks to us about the ability to focus on work and GitLab’s ease of use.

_“[Working in GitLab] makes you feel very professional. You feel like you’re doing your job. You’re way more efficient as a team.”_

## 2. Reducing manual tasks through automation

Several advocates spoke about the benefits of automating tasks within GitLab to free up time for more productive activities. 

<!-- blank line -->

<figure class="video_container">

<iframe src="https://www.youtube.com/embed/HW0ByLmG8sY" frameborder="0" allowfullscreen="true"> </iframe>

</figure>

<!-- blank line -->

Andrew Jones speaks about using GitLab to reduce repetitive tasks. He can’t imagine going back to the old way of doing things with many manual tasks. 

_“It just takes care of the stuff that would normally be laborious, painful repetitive stuff and allows you to focus on your primary function. I couldn’t imagine working without GitLab. I can’t imagine going back to the old way.”_

<!-- blank line -->

<figure class="video_container">

<iframe src="https://www.youtube.com/embed/oN1cieaeLBk" frameborder="0" allowfullscreen="true"> </iframe>

</figure>

<!-- blank line -->

Jan Mikes tells us about automation and the ability to get things done without context switching or moving across apps. This helps his productivity and efficiency. 

_“There’s high demand for CI engineers and since I work as an architect, this is a high-demand skill, to write pipelines, optimize performance, shorten the time from writing the code to deploy to production. And all of this I can deliver and that’s another reason why I love GitLab, because anything that comes to my mind, I figure some way how to do it with GitLab CI.”_

<!-- blank line -->

<figure class="video_container">

<iframe src="https://www.youtube.com/embed/SvQUM6DL1B4" frameborder="0" allowfullscreen="true"> </iframe>

</figure>

<!-- blank line -->

Marc-Aurele Brothier speaks to us about how the adoption of GitLab helped his team be more efficient and streamline collaboration. 

_“[A customer was] very happy because we could demonstrate [to] them that, with [GitLab], that they could create the release, open a PR, say I want to deploy in our environment, and just accept it, and it was done two minutes later and it was automated. So it’s not anymore like asking someone, sending emails, or sending a request to another team. Just you do it and you get it.”_

## 3. Improved transparency and collaboration

Transparency and Collaboration are two of [GitLab’s values](https://about.gitlab.com/handbook/values/), so it was great to hear how adopting GitLab helps teams operate in a more transparent and collaborative manner. 

<!-- blank line -->

<figure class="video_container">

<iframe src="https://www.youtube.com/embed/1rdtQ3tvDtg" frameborder="0" allowfullscreen="true"> </iframe>

</figure>

<!-- blank line -->

Gerben Geijteman tells us that collaboration and communication are enhanced by the transparency you get in GitLab by having the solution, or code, linked to directly from the issue tracker. This benefits collaboration with other team members and with clients. 

_“GitLab for me unifies it all in the same place so everyone is looking at the same code in the same direction with the same quality level.”_

_“In projects where we have direct customer communication, we like to also use GitLab because GitLab gives you a more direct mode of communication. You can say we fixed this issue with this particular line of code at that particular moment in time. And it takes away intermediate layers of communication... and it keeps everything in context.”_

<!-- blank line -->

<figure class="video_container">

<iframe src="https://www.youtube.com/embed/pWVEnIQjGbE" frameborder="0" allowfullscreen="true"> </iframe>

</figure>

<!-- blank line -->

Sebastian Schmid talks about how, since the adoption of GitLab, different teams in his organization are able to share and reuse source code more easily.

_“Before [GitLab], only the team working on the code was able to see the code... [After starting to use GitLab] they started to use source code from other teams and collaborate in code with other teams.”_ 

_“People could start to contribute to our product and they don’t need to have some special skills. They just could write [an] issue, could paste some screenshots and stuff like that, and some engineers could take this and improve the product.”_

## 4. A welcoming community

Anyone can directly contribute to our open source GitLab core and help enhance the GitLab platform. We appreciated hearing advocates talk about their experiences contributing to GitLab and how welcoming the GitLab community has been. 

<!-- blank line -->

<figure class="video_container">

  <iframe src="https://www.youtube.com/embed/qy9f-7DI_5k" frameborder="0" allowfullscreen="true"> </iframe>

</figure>

<!-- blank line -->

Dave Barr speaks about the value of working on a platform with an open source core and how great it is to see GitLab employees interact with contributors in the same way that they would with other GitLab employees. 

_“How you interact with that community is really telling. The way GitLab staff does that is really embracing, welcoming, open to feedback. They provide feedback; it's just like you’re a staff member. The approach they take to community contributions is the same exact approach they take for a staff merge request and that’s a fantastic approach.”_ 

<!-- blank line -->

<figure class="video_container">

<iframe src="https://www.youtube.com/embed/LNp3ioZr5mg" frameborder="0" allowfullscreen="true"> </iframe>

</figure>

<!-- blank line -->

Gary Bell talks to us about how welcoming, responsive, and understanding the GitLab community is with new people who want to contribute. 

_“Personally, I’ve just found the overall GitLab community to be very welcoming and very understanding. Just the patience people have... they’re just welcoming and willing to give the time to help. That’s been absolutely fantastic to feel that, which is something that I’ve not felt when I’ve tried to contribute to other open source projects before.”_

<!-- blank line -->

<figure class="video_container">

<iframe src="https://www.youtube.com/embed/4-z3QjPzFPk" frameborder="0" allowfullscreen="true"> </iframe>

</figure>

<!-- blank line -->

Similarly, Sven Patrick Meier shares with us his journey from identifying a potential feature, proposing it, and working through the process to get the contribution accepted. 

_“[I submitted a contribution] and the maintainers of the project commented on my feature request and said ‘great idea,’ and I provided the template as a basic example. They helped me with so many things, and, right now, I’m right before the first contribution to that awesome product that I use every day.”_ 

## 5. Exposure to end-to-end modern software development

Users talk about how GitLab helps introduce them to modern software development practices. They appreciated GitLab’s monthly releases packed with new features. 
<!-- blank line -->

<figure class="video_container">

<iframe src="https://www.youtube.com/embed/YMydvPCIg44" frameborder="0" allowfullscreen="true"> </iframe>

</figure>

<!-- blank line -->

Marcos Ortiz praises GitLab’s ease of use and how it made it easier to onboard team members. Marcos also speaks about how, when you get used to the way of doing things on GitLab, you can internalize beneficial development practices.

_“When you get used to all these practices, load code frequently, to get everything in branch inside your repo story, I believe you can be faster in development.”_ 

<!-- blank line -->

<figure class="video_container">

<iframe src="https://www.youtube.com/embed/fP50GWZxz48" frameborder="0" allowfullscreen="true"> </iframe>

</figure>

<!-- blank line -->

In our discussion with Andy Malkin and Michael Kalange, we hear about how they feel that GitLab is not only on the cutting edge, but also a very reliable part of their work. 

_“When I use [GitLab], I feel like I’m on the cutting edge. A lot of time in tech you can feel like you’re using something and you know it’s outdated, but I don’t have that feeling with GitLab. When I’m using GitLab, I feel that you really are pushing the boundaries in terms of what’s the next thing that we need.”_ 

<!-- blank line -->

<figure class="video_container">

<iframe src="https://www.youtube.com/embed/7gU12X10718" frameborder="0" allowfullscreen="true"> </iframe>

</figure>

<!-- blank line -->

Chris Evans speaks to us about how GitLab's neatly organized user interface helped him learn more about the overall DevOps processes and tools.

_“[I] started off as a network engineer [and] I ended up [in] some sysadmin-related roles but I was never really exposed to the software development lifecycle... but just through choosing GitLab as a project management platform, I was exposed to so many of the tools of the trade for this other industry, software engineering, and I was able to almost learn those in a way without having to use them directly.”_  

<!-- blank line -->

<figure class="video_container">

<iframe src="https://www.youtube.com/embed/JhfFlSBQ7tY" frameborder="0" allowfullscreen="true"> </iframe>

</figure>

<!-- blank line -->

Similarly, Ion Nistor tells us about how he gets exposed to new areas and tools in DevOps by using GitLab. 

_“I like to learn. Many of the things that GitLab brings are related to new technologies and new ways of doing things. GitLab in this sense acted [as a] gateway to new technologies. I have to learn about DevOps more, about containers, and these are benefits for my personal development.”_ 

<!-- blank line -->

<figure class="video_container">

<iframe src="https://www.youtube.com/embed/yuBeOxqnou4" frameborder="0" allowfullscreen="true"> </iframe>

</figure>

<!-- blank line -->

Dibyadarshi Dash, a past intern at GitLab, highlights how having a single, integrated product to develop software made it easier for him to learn about software development end-to-end. 

_“I got a good exposure to what the software development lifecycle looks like because it was all in one platform, all in GitLab. The writing, coding, merging, deploying, testing, everything was in one platform. And I feel that because it was all in one integrated platform, I got a good holistic exposure to the whole cycle and I understood the cycle even better.”_ 

## Bringing it all together

The GitLab advocates reinforced our belief in GitLab’s value as a single DevOps platform. The advocates talked about being able to focus on getting work done, using automation to reduce manual steps, and transparently collaborating with their colleagues. They also highlighted how GitLab helps them get exposed to and learn about the modern software development process end-to-end thanks to our fast innovation and how our welcoming open source community has made it possible for them to contribute features to GitLab.
